<!-- Suosikkinappula komponentti-->


<template>
    <div class="favoriting">
        <!-- Sydän emoji, voi painaa kerran, classi määrittää värin-->
        <label
            class="favorite__heart"
            v-bind:class="{'favorite__heart__selected': value}"
            v-on:click.once="favorite">
            🤍
        </label>
    </div>
</template>

<script>
export default {
    data: function() {
        return {

        };
    },
    props: {
        'value': {
            type: Boolean,
            default: false
        },
        'name': {
            type: String,
            default: 'favorite'
        },
        'idx': {
            type: Number
        }
    },
    methods: {
        // kutsutaan emojia painaessa
        favorite: function() {
            // tallentaa palvelimelle
            axios.post(this.$store.state.baseUrl +'fav/save',{
                'id': this.idx.toString()
            });
            // näyttää toastin suosikin lisäämisestä.
            this.toast('b-toaster-bottom-center');
            this.value = !this.value;
        },
        toast(toaster) {
            this.$bvToast.toast(`Recipe added to Favorites!`, {
                title: `Message`,
                toaster: toaster,
                autoHideDelay: 3000,
                solid: true
            })
        }
    }
}
</script>
<style>


.favoriting{
    display: inline-block
}
.favorite__heart {
    display: inline-block;
    padding: 3px;
    vertical-align: middle;
    line-height: 1;
    font-size: 150%;
    color: #ABABAB;
    cursor: pointer;
    -webkit-transition: color .2s ease-out;
    transition: color .2s ease-out;
}
.favorite__heart.is-disabled:hover {
    cursor: default;
}
.favorite__checkbox {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
.favorite__heart__selected{
    color: transparent;
    text-shadow: 0 0 0 red;
}
</style>
