<!-- Suosikkilista komponentti-->

<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Your Favorites</div>
                    <div class="card-body">
                        <b-row v-for="(item,index) in this.favrecipes.data" :key="item._id" no-gutters>
                            <b-col lg="11" ><recipeitem v-bind:recipe="item.recipe" v-bind:recipeType="item.provider" v-bind:key="item._id"></recipeitem></b-col>
                            <b-col sm="1" > <b @click="favDelete(index)" class="delete">X</b></b-col>
                        </b-row>
                        <pagination v-if="isInit"  :limit=-1  :data="this.favrecipes" align="center" size="large" @pagination-change-page="getResults"></pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data: function () {
        return {
            favrecipes: Object,
            isInit: {
                type: Boolean,
                default: false
            }
        }
    },
    props: {
    },
    mounted() {
        // mountatessa hakee reseptit
        this.getResults();
    },
    // hakee suosikkireseptit palvelimelta, pyydetyn sivun mukaan
    methods: {
        // Our method to GET results from a Laravel endpoint
        getResults(page = 1) {
            axios.get(this.$store.state.baseUrl +'fav/?page=' + page)
                .then(response => {
                    this.favrecipes = response.data;
                    this.isInit = true;
                });
        },
        favDelete(item)
        {
            axios.post(this.$store.state.baseUrl + 'fav/delete', {
                'id': this.favrecipes.data[item]._id
            });
            this.favrecipes.data.splice(item,1);
        }
    }

}
</script>
<style>
    .delete{
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        color:red;
        font-size: 30px;
        cursor: pointer;
    }
    body{
        background: #636b6f;
    }
    .card{
        background: darkgrey;
    }
    .page-link {
        background: #636b6f;
    }
    .page-link span {
        color: white;
    }
    .container-fluid{
        max-width: 100%;
    }
    .col-md-8{
       flex: 0 0 auto;
        max-width: 100%;
    }

</style>
