<!-- Jääkaappi ainesosakomponentti -->

<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header"><h4 class="card-title text-center">Fridge Items</h4></div>
                    <div class="card-body">
                        <autocomplete placeholder="Add ingredient to your fridge" :search="search" :get-result-value="getResultValue" @submit="onSubmit" ref="autocomplete"></autocomplete>
                        <!-- Lista jääkaapissa olevista ainesosista -->
                        <ul class="example-1">
                            <li v-for="(item, index) in ingredients"><IngrdientItem :key="item._id" @changed="deleteItem($event)" :withban="false" :ingredient="item" :index="index"></IngrdientItem> <b class="capitalize"> {{ item.ingredientName }} </b> </li>
                        </ul>
                   </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data: function () {
        return {
            ingredients: [],
        }
    },
    methods: {
        // kutsutaan IngredientItem togglea muuttaessa, poistaa kyseisen ainesosan lokaalisti ja myös palvelimen päästä.
        deleteItem(item)
        {
            if(item.type == 'delete' )
            {
                axios.post(this.$store.state.baseUrl + 'fridge/delete', {
                    'id': item.ingredient._id
                });
                this.ingredients.splice(item.index,1);
            }
        },
        // Autocomplete hakumetodi
        search(input) {
                const url =  this.$store.state.baseUrl + `ingredients/${encodeURI(input)}`
                return new Promise((resolve) => {
                    if (input.length < 2) {
                        return resolve([])
                    }
                    fetch(url)
                        .then((response) => {
                            resolve(response.json())
                        })
                })
        },
        // Autocompelete valintametodi, tallentaa ainesosan palvelimelle ja lisää paikalliseen listaan
        onSubmit(result) {
            this.ingredients.push(result);
            axios.post(this.$store.state.baseUrl + 'fridge/save', {
                'id': result._id
            });
        },
        getResultValue(result) {
                return result.ingredientName
        },
        // Hakee reseptit palvelimelta ainesosien perusteella
        searchFridgeRecipes()
        {
            axios.get(this.$store.state.baseUrl + 'fridge/recipes')
                .then(response => {
                    this.$store.commit('updaterecipes',response.data)
                });
        }

    },
    mounted() {
        // Haetaan tallennetut ainesosat palvelimelta mountatessa.
        axios.get(this.$store.state.baseUrl + 'fridge/all')
            .then(response => {
                this.ingredients = response.data;
            });
        this.searchFridgeRecipes();
    }
}
</script>
