<!-- Ainesosa lista -->

<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header"><h4 class="card-title text-center">Ingredients</h4></div>
                    <div class="card-body">
                        <!-- provider valinta -->
                        <b-form-group label="Recipe search provider">
                            <b-form-radio-group
                                id="searchprovider"
                                v-model="provider"
                                :options="options"
                                buttons
                                name="radios-btn-default"
                                @change="clear"
                            ></b-form-radio-group>
                        </b-form-group>
                        <!-- Reseptin nimellä rajaaminen -->
                        Recipe name filter:
                        <b-row>
                            <b-col lg="9" ><b-form-input id="input-small" v-model="namefilter"  placeholder="Filter recipe name"></b-form-input></b-col>
                            <b-col sm="3"> <b-button @click="recipesearch" >Search</b-button> </b-col>
                        </b-row>
                        Add Ingredients:
                        <!-- autocompelte-vue hakukenttä -->
                        <autocomplete :search="search" :get-result-value="getResultValue" @submit="onSubmit" ref="autocomplete"></autocomplete>
                        <br>
                        Ingredients:
                        <!-- Lista lisätyistä ja valituista aineosista-->
                        <ul class="example-1">
                            <li v-for="(item, index) in ingredients"><IngrdientItem :key="item._id" :ingredient="item" :index="index" @changed="banToggle($event)"></IngrdientItem> <b class="capitalize"> {{ item.ingredientName }} </b> </li>
                            <li v-for="(item, index) in this.$store.state.selectedIngredients"><IngrdientItem :key="item" :ingredient="{'_id':item}" :index="index" @changed="banToggle($event)"></IngrdientItem> <b class="capitalize"> {{ item }}</b> </li>
                        </ul>
                        <p v-if="provider == 'puppy'">Powered by <a href="http://www.recipepuppy.com/">Recipe Puppy</a></p>
                    </div>
                    <ingredientselect @toggled="selectToggle($event)" v-show="provider == 'puppy'"></ingredientselect>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Autocomplete from '@trevoreyre/autocomplete-vue'
import '@trevoreyre/autocomplete-vue/dist/style.css'
import IngrdientItem from "./IngrdientItem";
export default {
    components: {
        IngrdientItem,
        Autocomplete
    },
    data: function () {
        return {
            namefilter: '',
            provider: 'local',
            chosen: '',
            ingredients: [],
            searchIngredients: [],
            bannedIngredients: [],
            options: [
                { text: 'LocalDB', value: 'local' },
                { text: 'RecipePuppy', value: 'puppy' },
            ]
        }
    },
    methods: {
        // Kutsutaan jos IngredientSelectin kautta valitaan ainesosia.
        selectToggle(event)
        {
            if(event.type == 'add')
            {
                this.$store.state.selectedIngredients.push(event.ingredient);
                this.searchIngredients.push({'_id':event.ingredient});
            }
            else
            {
                this.searchIngredients = this.searchIngredients.filter(x => x._id != event.ingredient);
                this.bannedIngredients = this.bannedIngredients.filter(x => x._id != event.ingredient);
                this.$store.state.selectedIngredients = this.$store.state.selectedIngredients.filter(x => x != event.ingredient);
            }
            this.recipesearch();
        },
        // kutsutaan ainesosan IngredientItem valinnan muuttuessa.
        banToggle(item)
        {
            item.ingredient.state = item.type;
                if(item.type == 'delete' )
                {
                    // poistetaan listoista.
                    this.searchIngredients = this.searchIngredients.filter(x => x._id != item.ingredient._id);
                    this.bannedIngredients = this.bannedIngredients.filter(x => x._id != item.ingredient._id);
                    if(this.provider == 'local')
                    {
                        this.ingredients.splice(item.index,1);
                        this.recipesearch();
                    }
                    else
                    {
                        this.$store.state.selectedIngredients.splice(item.index,1);
                        this.recipesearch();
                    }
                }
                // muutettiin bannatyksi, siirretään oikealle listalle.
                else if(item.type == 'banid')
                {
                    this.searchIngredients = this.searchIngredients.filter(x => x._id != item.ingredient._id);
                    this.bannedIngredients.push(item.ingredient)
                    this.recipesearch();
                }
                // muutettiin takaisin haettavaksi, siirretään oikealle listalle.
                else
                {
                    this.bannedIngredients = this.bannedIngredients.filter(x => x._id != item.ingredient._id);
                    this.searchIngredients.push(item.ingredient)
                    this.recipesearch();
                }

        },
        clear()
        {
            this.ingredients = [];
            this.searchIngredients = [];
            this.bannedIngredients = [];
            this.$store.state.selectedIngredients = [];
            this.$store.state.recipes = [];
        },
        // Reseptien haku metodi
        recipesearch()
        {
            let url = '';
            // Valmistellaan urli, ja haetaan data palvelimelta.
            let ids = this.searchIngredients.map(a => encodeURI(a._id));
            let bannedids = this.bannedIngredients.map(a =>encodeURI(a._id));
            if (ids.length == 0) {
                this.$store.state.recipes = [];
                // Näytetään viesti ettei voida hakea ilman ainesosia.
                this.$bvToast.toast(`Searching without ingredients is not yet supported!`, {
                    title: `Error!`,
                    toaster: 'b-toaster-bottom-center',
                    autoHideDelay: 5000,
                    solid: true
                })
                return;
            }
            if(this.provider == 'local') {
                url = this.$store.state.baseUrl +  'recipes/search?ing='
            }
            else if(this.provider == 'puppy')
            {

                url = this.$store.state.baseUrl +  'recipes/puppy?ing=';
            }
            url += ids;
            if(this.namefilter != '')
            {
                url += '&name=' + encodeURI(this.namefilter);
            }
            url += '&ban=' + bannedids;
            fetch(url) //
                .then(response => response.json())
                .then(data =>{
                    this.$store.commit('updaterecipes',data)
                })
        },
        // Ainesosahaku palvelimelta, Autocomplete kutsuu
        search(input) {
            // Jos local provider, haetaan palvelimelta
            if(this.provider == "local")
            {
                const url =  this.$store.state.baseUrl + `ingredients/${encodeURI(input)}`
                return new Promise((resolve) => {
                    if (input.length < 2) {
                        return resolve([])
                    }

                    fetch(url)
                        .then((response) => {
                            resolve(response.json())
                        })
                })
            }
            // RecipePuppyn kanssa käytetään ennaltamääriteltyä listaa.
            else
            {
                if (input.length < 1) { return [] }
                return this.$store.state.baseIngredients.filter(ingredient => {
                    return ingredient.toLowerCase()
                        .includes(input.toLowerCase())
                })
            }

        },
        // Kutsutaan valittaessa ainesosa autocompletesta.
        onSubmit(result) {
            if(this.provider == "local")
            {
                this.ingredients.push(result);
                this.searchIngredients.push(result);
            }
            else
            {
                this.$store.state.selectedIngredients.push(result);
                this.searchIngredients.push({'_id':result});
            }
            this.$refs.autocomplete.value = '';
            this.recipesearch();
        },
        getResultValue(result) {
            if(this.provider == "local") {
                return result.ingredientName
            }
            else
            {
                return result;
            }
        }
    },
}
</script>

<style>
.card {
    margin-top: 10px;
}
.capitalize{
    text-transform: capitalize;
}
.example-1 {
    list-style-type: none;
    padding: 0;
}
.autocomplete-result-list{
    z-index: 2!important;
}
</style>
