<!-- Ainesosan togglekomponentti -->

<template>
        <b-form-radio-group
            class="inline"
            :id=this.ingredient._id.toString()
            size="sm"
            v-model="selected"
            :options="options"
            buttons
            :name=this.ingredient._id.toString()
            @input="changeEvent"
        ></b-form-radio-group>
</template>

<script>
export default {
    props:{
        ingredient: {
            type: Object,
            required: true
        },
        withban: {
            type: Boolean,
            default: true
        },
        index:{
            type: Number,
            required: true
        },
    },
    data: function() {
        return {
            selected: 'searchid',
            options: [
                { text: '✔', value: 'searchid' },
                { text: '⛔', value: 'banid' },
                { text: '❌', value: 'delete'},
            ]
        };
    },
    methods: {
        // Kutsutaan valinnan muuttuessa
        changeEvent() {
            // Kerrotaan parentille asiasta.
            this.$emit('changed', {'type':this.selected,'ingredient':this.ingredient,'index':this.index});
        }
    },
    created() {
        // oletusvalinnan muuttamista
        if('state' in this.ingredient)
        {
            this.selected = this.ingredient.state;
        }
        else
        {
            this.selected = 'searchid';
        }
        // Ban valinnan poisto jos proppi on asetettu.
        if(!this.$props.withban)
        {
            this.options.splice(1,1);
        }
    }
}
</script>
<style>
.inline{
    display:inline;
}
</style>
