<!-- Aines valinta, vain RecipePuppy -->
<template>
    <div id="ingredientselect">
        <!-- Kategoriat... -->
    <div v-for="(value,name,index) in this.ingredients" class="accordion" role="tablist">
        <b-card no-body class="mb-1">
            <!-- Kategorian nimi otsikoksi -->
            <b-card-header header-tag="header" class="p-1 recipeheader" role="tab">
                <b-button v-on:click="toggleAccord(name)" class="recipebtn" block variant="info"><img :src="'img/' + name + '.png'" class="recipeimg"><span>{{name}}</span></b-button>
            </b-card-header>
            <!-- Kategorian ainesosat avattavaksi checkbox groupiksi-->
            <b-collapse :id="name"  accordion="my-accordion" role="tabpanel">
                <b-card-body>
                    <b-form-checkbox v-for="ingredient in value" :key="ingredient" @change="toggled($event,ingredient)" switch>{{ingredient}}</b-form-checkbox>
                </b-card-body>
            </b-collapse>
        </b-card>
    </div>
    </div>
</template>
<script>
export default {
    data: function () {
        return {
            selected: [],
            ingredients: [],
        }
    },
    methods: {
        // toggle
        toggleAccord(name) {
            this.$root.$emit('bv::toggle::collapse', name);
        },
        // välitetään tieto valitusta ainesosasta parent componentille.
        toggled(event,ingredient)
        {
            if(event)
            {
                this.$emit('toggled', {'type':'add','ingredient':ingredient});
            }
            else
            {
                this.$emit('toggled', {'type':'remove','ingredient':ingredient});
            }
        }
    },
    mounted() {
        // Haetaan data mountatessa palvelimelta
        axios.get(this.$store.state.baseUrl + 'json/ingredients.json').then(response => {
            this.ingredients = response.data;
            this.$store.state.baseIngredients = [].concat(...Object.values(this.ingredients))
        });
    }
}
</script>
