<!-- Reseptilista komponentti -->

<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header"><h4 class="card-title text-center">Recipes</h4></div>
                    <div class="card-body">
                        <!-- Jos ei reseptejä, näytetään viesti -->
                        <h5 class="text-center" v-if="this.$store.state.recipes.length == 0">No recipes found. Try adding or removing ingredients</h5>
                        <!-- Jokaisesta reseptistä recipeitem komponentti -->
                        <recipeitem v-for="(item,index) in this.$store.state.recipes.data" v-bind:recipe="item" v-bind:recipeType="$store.state.recipes.provider" v-bind:idx="index" v-bind:key="item.recipeId"></recipeitem>
                        <!-- Paginaatio -->
                        <pagination  v-if="isInit" :limit=-1  :data="this.$store.state.recipes" align="center" size="large" @pagination-change-page="getResults"></pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        // Ollaanko kirjautuneena
        isauth: {
            type: Number,
            required: true
        }
    },
    mounted() {
        if(this.isauth)
        {
            this.$store.state.auth = true;
        }
    },
    computed: {
        isInit: function () {
            return this.$store.state.init;
        }
    },
    data: function () {
        // pidetään muistissa millä sivulla ollaan.
        return {
            lastpage: 1,
        }
    },
    methods: {
        // Sivunvaihto metodi.
        getResults(page = 1) {
            if(page > this.lastpage)
            {
                this.lastpage++;
                axios.get(this.$store.state.recipes.next_page_url)
                    .then(response => {
                        this.$store.state.recipes = response.data;
                    });
            }
            else
            {
                this.lastpage--;
                axios.get(this.$store.state.recipes.prev_page_url)
                    .then(response => {
                        this.$store.state.recipes = response.data;
                    });
            }

        },
    }

}
</script>
<style>
    body{
        background: #636b6f;
    }
    .card{
        background: darkgrey;
    }
    .page-link {
        background: #636b6f;
    }
    .page-link span {
        color: white;
    }
    .container-fluid{
        max-width: 100%;
    }
    .col-md-8{
       flex: 0 0 auto;
        max-width: 100%;
    }
    .btn-info{
        background-color: #636b6f;
    }
    .btn-info:hover {
        background-color: #ABABAB;
    }

</style>
