<!-- Resepti komponentti -->

<template>
    <!-- Avautuva resepti -->
    <div class="accordion" role="tablist">
        <b-card no-body class="mb-1">
            <!-- Aina näkyvä osa. Kuva, nimi, kirjautuneena suosikkipainike -->
            <b-card-header header-tag="header" class="p-1 recipeheader" role="tab">
                <b-button class="recipebtn btn" block v-on:click="toggleAccord($event)" variant="info"><img :src="this.recipe.thumbnail || 'img/default.png'" class="recipeimg"> {{this.recipe.recipeName}}<favbutton class="favimg" v-if="isAuth" :idx="idx" name="favorite" ></favbutton></b-button>
            </b-card-header>
            <!-- Avautuva osa-->
            <b-collapse :id="this._uid.toString()"  accordion="my-accordion" role="tabpanel">
                <b-card-body>
                    <b-container fluid>
                    <b-row no-gutters>
                        <!-- Ainesosalista, providerin perusteella vähän eri muodossa -->
                        <b-col lg="9"  >
                            <ul id="example-1">
                                <li v-if="recipeType == 'local'" v-for="(item,index) in this.recipe.ingredients">{{item.amount.toFixed(2).replace(/[.,]00$/, "")}} {{item.unit}} {{(item.unit != '') ? 'of' : ''}} {{ ingredients[item.ingredientId] }} </li>
                                <li v-if="recipeType == 'puppy'" v-for="(item,index) in this.recipe.ingredients">{{ item }} </li>
                            </ul>
                        </b-col>
                        <!-- Linkki reseptiin, providerin perusteella vähän eri muodossa -->
                        <b-col md="3">
                            <a v-if="recipeType == 'puppy'" :href="this.recipe.link" target="_blank"><b-button>Check recipe out</b-button></a>
                            <div v-if="recipeType == 'local'" >
                                <a :href="'https://www.allrecipes.com/recipe/' + this.recipe.recipeId" target="_blank"><b-button>Check recipe out</b-button></a>
                                <p  class="gotorecipe">Allrecipes.com</p>
                            </div>
                        </b-col>
                    </b-row>
                    </b-container>
                </b-card-body>
            </b-collapse>
        </b-card>
    </div>
</template>
<script>
export default {
    props: {
        recipe: Object,
        recipeType: String,
        idx: Number
    },
    computed: {
        isAuth: function () {
            return this.$store.state.auth;
        }
    },
    data: function () {
        return {
            ingredients: [],
        }
    },
    methods: {
        // Reseptin avaamis funktio
        toggleAccord(event) {
            // Jos eventissä painettiin suosikkipainiketta, palataan takaisin tekemättä mitään.
            if(event.target.classList.contains("favorite__heart"))
            {
                return ;
            }
            // Jos on local recipe ja ei ole vielä haettu ainesosien nimiä, haetaan ne.
            if(this.recipeType =='local' && this.ingredients.length == 0)
            {
                this.loadRecipe();
            }
            // lähetetään toggle eventti.
            this.$root.$emit('bv::toggle::collapse', this._uid.toString())
        },
        // Ladataan reseptin ainesosien nimet palvelimelta.
        loadRecipe() {
            if(this.recipe.ingredients.length == 0)
            {
                return ;
            }
            const url = this.$store.state.baseUrl + `ingredientsbyid/`
            let ids = this.recipe.ingredients.map(a=>a.ingredientId);
            JSON.stringify(ids);
            fetch(url + ids)
                .then(response => response.json())
                .then(data =>{
                    this.ingredients = data.reduce(function(a,b){
                        a[b._id] = b.ingredientName
                        return a;
                    },{});
                })
        }
    }
}
</script>
<style>
.recipebtn img{
    height: 80px;
    width: 80px;
    float: left;
}
.favimg{
    position: absolute;
    right: 0;
    padding: 10px;
}
.recipebtn{
    float:left;
    display: flex;
    align-items: center; /* Vertical center alignment */
    font-size: 30px;
    font-weight: bold;
}
.recipeheader{
    height: 100px;
}
.gotorecipe{
    position: absolute;
    bottom: 0;
}
</style>
